@import '@/styles/variaveis.scss';

.box {
    border: .1rem solid $cor-secundaria;
    outline: none;
    resize: none;
    font-size: 1.6rem;
    display: flex;
    height: 3.9rem;
    margin: 0 .4rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: .4rem;
    background-color: $cinza-claro;
    overflow: hidden;
    font-family: 'Playfair', serif;
}