@import '@/styles/variaveis.scss';

.user{
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    border-radius: 10rem;
    &:hover{
        background-color: $cinza-claro;
    }
    .imagemDefault {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 100%;
        display: grid;
        place-items: center;
        background-color: $cor-secundaria;
        cursor: pointer;

        .icon {
            color: $cor-principal;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}