@import '@/styles/variaveis.scss';

.projects {
    position: absolute;
    top: 110%;
    height: min-content;
    border-radius: .4rem;
    padding: .8rem 0;
    z-index: 4;
    width: 28rem;
    box-shadow: $shadow;
    background-color: $cor-principal;

    .project {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: $cinza-claro;
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;

        }

        .fundoProject {
            width: 4.4rem;
            z-index: 1;
            height: 3.6rem;
            border-radius: .4rem;
        }

        .projectInfo {
            display: flex;
            z-index: 1;
            flex-direction: column;
            margin-left: 1rem;

            .title {
                font-size: $tamanho-do-texto;
                font-weight: bold;
                text-transform: uppercase;
            }

            .info {
                font-size: 1.4rem;
            }
        }

        .star {
            height: 1.6rem;
            width: 1.6rem;
            position: absolute;
            right: 2rem;
            fill: gold;
            color: gold;
            cursor: pointer;
        }
    }

    .text {
        font-size: 1.6rem;
        text-align: center;
        padding: 2rem 0rem;
    }
}