@import '@/styles/variaveis.scss';

.home{
    height: 30rem;
    margin-top: 6rem;
    padding: 2rem;
    background-color: $cor-principal;
    .buttonFinish{
        padding: 1.2rem;
        background-color: $cor-secundaria;
        color: $cor-principal;
        border: none;
        margin-bottom: 2rem;
        border-radius: .4rem;
        cursor: pointer;
        &:hover{
            background-color: rgba(142, 78, 245, 0.9);
        }
    }
}