@import '@/styles/variaveis.scss';

.popUp{
    height: min-content;
    min-height: 30rem;
    border-radius: .4rem;
    width: 36rem;
    background-color: $cor-principal;
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}