@import '@/styles/variaveis.scss';

.popUp{
    height: min-content;
    min-height: 30rem;
    width: 30rem;
    background-color: $cor-principal;
    position: fixed;
    padding: 2rem;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}