.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(31, 60, 226), rgb(124, 31, 199), rgb(160, 99, 211));
    backdrop-filter: blur(300px);
}