@import '@/styles/variaveis.scss';

.top {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;

    .title {
        font-size: 2rem;
        margin: 0;
    }

    .icon {
        height: 2rem;
        width: 2rem;
        padding: .4rem;
        border-radius: .4rem;
        cursor: pointer;
        &:hover{
            background-color: $cinza-claro;
        }
    }
}

.inviteEmail{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    .inputEmail{
        border: .1rem solid $cinza;
        border-radius: .4rem;
        padding: 0 1rem;
        &:focus{
            outline: auto $cor-secundaria;
        }
    }
    .typeUser{
        background-color: $cinza;
        border: none;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: .8rem;
        border-radius: .4rem;
        cursor: pointer;
        &:hover{
            background-color: $cinza-claro;
        }
    }
    .compartilhar{
        color: $cor-principal;
        border: none;
        padding: 1rem 2rem;
        border-radius: .4rem;
        cursor: pointer;
        background-color: $cor-secundaria;
        &:hover{
            background-color: $cor-secundaria-hover;
        }
    }
}

.userInfo{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dados{
        display: flex;
        gap: 1rem;
        align-items: center;
        .user{
            min-width: 3.2rem;
            min-height: 3.2rem;
            border-radius: 10rem;
            display: grid;
            place-items: center;
            background-color: $cor-secundaria;
            .icon{
                height: 1.6rem;
                width: 1.6rem;
                color: $cor-principal;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            .username{
                font-size: $tamanho-do-texto;
                font-weight: bold;
            }
            .email{
                font-size: 1.4rem;
            }
        }
    }
    .userType{
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        border: none;
        border-radius: .4rem;
        gap: .8rem;
        background-color: $cinza;
        cursor: pointer;
        &:hover{
            background-color: $cinza-claro;
        }
    }
}