@import '@/styles/variaveis.scss';

.topProject {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 2rem;
    justify-content: space-between;

    .esquerda {
        display: flex;
        align-items: center;
        gap: 1rem;

        .layoutType {
            width: 8rem;
            height: 4rem;
            display: flex;
            position: relative;
            transition-duration: .4s;
            align-items: center;
            justify-content: space-around;
            border-radius: .4rem;
            background-color: $cinza-claro;
            cursor: pointer;

            .template {
                color: $cor-principal;
                height: 2.4rem;
                width: 2.4rem;
                transition-duration: .4s;
            }

            .arrow {
                color: $cor-principal;
                height: 1.4rem;
                width: 1.4rem;
                transition-duration: .4s;
            }
        }

        .projectName {
            font-size: 2.8rem;
            margin: 0;
            color: $cor-principal;
        }

        .linha {
            height: 4rem;
            width: .1rem;
            background-color: $cinza-claro;
            margin: 0 2rem;
        }

        .participantes {
            display: flex;

            .allUsers {
                margin-right: 1rem;
                display: flex;
                gap: .4rem;

                .userOptionsInfo {
                    position: relative;
                    .imagemDefault {
                        height: 3.2rem;
                        width: 3.2rem;
                        display: grid;
                        place-items: center;
                        cursor: pointer;
                        border-radius: 100%;
                        background-color: rgb(85, 169, 218);

                        &:nth-child(2) {
                            background-color: rgb(247, 114, 52);
                        }

                        &:nth-child(3) {
                            background-color: bisque;
                        }

                        .icon {
                            height: 1.6rem;
                            color: $cor-principal;
                            width: 1.6rem;
                        }
                    }
                }
            }

            .divUsers {
                position: relative;

                .countUsers {
                    height: 3.2rem;
                    min-width: 3.2rem;
                    display: grid;
                    place-items: center;
                    border-radius: 1.6rem;
                    cursor: pointer;
                    transition-duration: .4s;
                    background-color: $cinza-claro;

                    .count {
                        font-size: 2rem;
                        transition-duration: .4s;
                        margin: 0 .8rem;
                        color: $cor-principal;
                    }
                }
            }
        }

        .inviteButton {
            width: 8rem;
            height: 4rem;
            border: none;
            border-radius: .4rem;
            transition-duration: .4s;
            padding: 1rem 2rem;
            color: $cor-principal;
            background-color: $cinza-claro;
            cursor: pointer;
        }
    }

    .optionsDiv {
        position: relative;

        .options {
            background-color: $cinza-claro;
            width: 16rem;
            display: flex;
            color: $cor-principal;
            align-items: center;
            padding: 0 1rem;
            height: 4rem;
            transition-duration: .4s;
            border-radius: .4rem;
            cursor: pointer;

            .icon {
                height: 2.8rem;
                width: 2.8rem;
            }
        }
    }
}