@import "@/styles/variaveis.scss";

.header{
    height: 6.4vh;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: $cor-principal;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
    .esquerda{
        display: flex;
        align-items: center;
        gap: 1rem;
        .logo{
            display: flex;
            gap: 1rem;
            text-decoration: none;
            color: #2d333a;
            cursor: pointer;
            align-items: center;
            font-size: 1.6rem;
        }
        .projects{
            font-size: 1.6rem;
            padding: 1rem;
            cursor: pointer;
            border-radius: .4rem;
            &:hover{
                background-color: $cinza-claro;
            }
        }
        .createProject{
            border: none;
            border-radius: .4rem;
            background-color: $cor-secundaria;
            color: $cor-principal;
            font-family: 'Playfair', serif;
            font-size: 1.6rem;
            cursor: pointer;
            padding: 1rem;
            &:hover{
                background-color: rgb(142, 78, 245, 0.9);
            }
        }
    }
    
}