@import "@/styles/variaveis.scss";

.header{
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: $cor-principal;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .iconHome{
        height: 2.8rem;
        width: 2.8rem;
        background-color: $cinza-claro;
        padding: .6rem;
        color: white;
        border-radius: .4rem;
        cursor: pointer;
    }
    .logo{
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 1.6rem;
    }
}