@import "@/styles/variaveis.scss";

.header {
    min-height: 6.4rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: $cor-principal;
    box-shadow: $shadow;
    z-index: 2;

    .esquerda {
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo {
            display: flex;
            gap: 1rem;
            text-decoration: none;
            color: #2d333a;
            cursor: pointer;
            align-items: center;
            font-size: 1.6rem;

            .title {
                margin: 0;
            }
        }
    }

    .headerOptions {
        .optionsHeaderMobile {
            display: none;
            font-size: $tamanho-do-texto;
            padding: 1rem 2rem;
            border-radius: .4rem;
            cursor: pointer;
            align-items: center;
            transition-duration: .4s;
            gap: .4rem;
    
            &:hover {
                background-color: $cinza-claro;
            }
    
            .arrow {
                width: 1.2rem;
                height: 1.2rem;
                transition-duration: .4s;
                color: $cor-da-letra;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .header{
        .headerOptions{
            position: relative;
            .optionsHeaderMobile{
                display: flex;
            }
            .exist{
                display: none;
            }
        }
    }
}