@import "@/styles/variaveis.scss";

.picture{
    width: 4.8rem;
    height: 4.8rem;
    background-color: $cor-secundaria;
    border-radius: 10rem;
    display: grid;
    place-items: center;
    .icon{
        width: 2.4rem;
        height: 2.4rem;
        color: $cor-principal;
    }
}

.buttonExit{
    background-color: red;
    border: none;
    padding: 1rem 2rem;
    border-radius: .4rem;
    cursor: pointer;
    color: $cor-principal;
}