@import '@/styles/variaveis.scss';

.card {
    display: grid;
    gap: 1rem;
    min-width: 30rem;
    height: min-content;
    box-sizing: border-box;
    gap: 1rem;
    padding: .4rem;
    background-color: $cor-principal;
    border-radius: .8rem;

    .infoCard {
        display: flex;
        padding: .4rem 1rem;
        justify-content: space-between;
        align-items: flex-start;

        .titleCard {
            border: none;
            resize: none;
            font-size: 1.6rem;
            display: flex;
            height: 4.9rem;
            width: 80%;
            display: flex;
            box-sizing: border-box;
            padding: 1rem;
            border-radius: .4rem;
            overflow: hidden;
            font-family: 'Playfair', serif;
            font-size: 2.4rem;
            cursor: pointer;
            margin: 0;
            &:focus {
                background-color: $cinza-claro;
                outline: auto $cor-secundaria;
            }
        }

        .configLayout{
            position: relative;
            .options {
                height: 2.8rem;
                width: 2.8rem;
                cursor: pointer;
                border-radius: .4rem;
                &:hover {
                    background-color: $cinza-claro;
                }
            }
        }
        
    }

    .tasks {
        display: grid;
        gap: 1rem;
        padding: .4rem;
        position: relative;
        max-height: 54rem;
        overflow: auto;
        box-sizing: border-box;
    }

    .adicionarTask {
        padding: 1rem;
        display: flex;
        align-items: center;
        text-align: start;
        border: none;
        margin: .4rem;
        background-color: $cor-secundaria;
        color: $cor-principal;
        border-radius: .4rem;
        cursor: pointer;
        gap: .4rem;

        &:hover {
            background-color: $cor-secundaria-hover;
        }

        .icon {
            height: 2rem;
            width: 2rem;
            color: $cor-principal;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        .adicionarTarefaTrue {
            margin: 0 .4rem;
            border: none;
            border-radius: .4rem;
            color: $cor-principal;
            text-align: start;
            padding: 1rem;
            height: 4rem;
            cursor: pointer;
            background-color: $cor-secundaria;
        }
        .closeIcon {
            height: 2.4rem;
            width: 2.4rem;
            padding: .8rem;
            border-radius: .4rem;
            cursor: pointer;
            &:hover{
                background-color: $cinza-claro;

            }
        }
    }
}