@import '@/styles/variaveis.scss';

.typeLayout{
    position: absolute;
    top: 110%;
    background-color: $cor-principal;
    width: 100%;
    border-radius: .4rem;
    width: 16rem;
    display: flex;
    left: 0;
    padding: 1rem 0;
    flex-direction: column;
    box-shadow: $shadow;
    .type{
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        &:hover{
            background-color: $cinza-claro;
        }
        .icon{
            width: 2.4rem;
            height: 2.4rem;
        }
        .text{
            font-size: $tamanho-do-texto;
        }
    }
}