.background{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    .project {
        overflow: auto;
        margin: 8rem 2rem 4rem 2rem;
        .projectCards {
            display: flex;
            gap: 2rem;
        }
    }
}
